.wrapper-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  flex-direction: row;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#container > div {
  justify-content: space-around;
  margin: 20px;
  background-color: white;
  padding: 20px 20px 30px 20px;
}

.wrapper h1 {
  text-align: center;
  font-family: Segoe Print;
  color: white;
}

.wrapper > p {
  color: white;
}

div.title-class {
  width: 300px;
  margin: auto;
  resize: horizontal;
  text-align: center;
}

div.title-class div {
  justify-content: center;
  font-family: "Mansalva", cursive;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 15px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-bottom: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
